.container {
  margin-top: 50px;
  text-align: center;
  margin-left: 450px;
  margin-right: 450px;
}

path {
  stroke: rgb(84, 13, 216);
  stroke-width: 4px;
  fill: none;
}
.price {
  text-align: start!important;
}
.petrol {
  margin-bottom: 50px;
  color: brown;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


